@charset "UTF-8" ;

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: arial,Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
}
h1,h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

p,h1,h2 {

    margin-bottom: 10px;
    


}

header, .normal {

    padding: 20px;


}

.flex-content {

    background-color:lightgray ;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}



.text-media {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


}

.media-text {

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
   
}

.text {
    flex: 1 1 500px;
    

}

.media {
    flex: 1 0 400px;  

}

img {

    display:block;
    margin:auto;
    width: 300px;
    padding: 10px;

}

iframe {
    display: block;
    margin:auto;
    width: 90%;
}

